@charset "utf-8";

*{
    padding: 0;
    margin : 0;
}

body{
    background-image: url(assets/shadowBC.webp);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size:cover ;
}